/* Style du footer */
.footer {
  background-color: #f7f7f7;
  padding: 50px 0;
  text-align: center;
}

h3 {
  font-family: "var(--bs-body-font-family)";
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
  text-align: center;
}

.footer-column h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #666;
  text-decoration: none;
  font-size: 16px;
}

.footer-column ul li a:hover {
  color: #000;
}

.footer-info p {
  color: #666;
  font-size: 14px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #666;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  color: #000;
}
