.ids {
  color: #666;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: "sans-serif";
  display: flex;
  justify-content: center;
}

.tlt {
  color: #666;
  margin-bottom: 15px;
  font-family: "sans-serif";
  display: flex;
  justify-content: center;
}
