<div class="container bg-light p-4">
  <h1 class="my-4">Your Bookings</h1>
  <ul class="list-group">
    <% @bookings.each do |booking| %>
      <li class="list-group-item">
        <%= booking.comic.title %> - <%= booking.start_date %> to <%= booking.end_date %>
      </li>
    <% end %>
  </ul>
</div>
