.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
}

.flex-container input[type="text"],
.flex-container input[type="date"] {
  margin-right: 10px;
}

.flex-container_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container_search input,
.flex-container_search .btn {
  flex: 1;
  margin: 0 5px;
}
