.custom-card {
  position: relative;
  height: 350px;
  background-color: #e9e9e9;
  border: 3px solid #b8b8b8;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 12px;
  margin: 6px;
  overflow: hidden;

  .poster-container {
    width: 150px;
    height: 180px;
    overflow: hidden;
  }

  .poster-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    color: #333;
  }

  .card-subtitle {
    color: #666;
  }

  /* Overlay style */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(106, 106, 106, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Text on overlay */
  &::after {
    content: "View";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f3f3f3;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    pointer-events: none;
  }

  /* Show overlay and text on hover */
  &:hover::before,
  &:hover::after {
    opacity: 1;
  }

  /* Button style */
  .btn-custom {
    position: absolute;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    padding: 60px 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    pointer-events: none;
  }

  /* Show button on hover */
  &:hover .btn-custom {
    opacity: 1;
    pointer-events: auto;
  }
}
